body {
  background-color: antiquewhite;
  color: black;
  font-family: monospace;
  background-image: url("Images/Off-white-background-image.jpg");
}
div.game {
  margin: 0 auto;
  width: 100%;
  height: 75%;
}
#title1 {
  color: white;
  text-shadow: 2px 2px 7px black;
  font-size: 70px;
}

#reset {
  font-weight: bold;
  padding: 20px 40px 20px 40px;
  border-radius: 50%;
  border-color: black;
  font-size: 16px;
}

.alphabet {
  text-shadow: 2px 2px 7px black;
  text-align: center;
  padding-bottom: 50px;
  font-size: 30px;
  display: flex;
  gap: 5px;
}
.alphabet button {
  width: calc(100% / 9 - 5px);
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
}
.alphabet button:hover {
  background-color: antiquewhite;
}
#reset:hover {
  background-color: antiquewhite;
  box-shadow: 0px 0px 1px 2px;
  flex-wrap: wrap;
  justify-content: center;
}
#word {
  color: black;
  font-size: 70px;
  text-align: center;
  padding-top: 0%;
  padding-bottom: 0%;
}

.letter {
  color: black;
  padding: 10px 20px 10px 20px;
}

.Mistakes {
  text-align: center;
  padding-bottom: 50px;
  text-shadow: 2px 2px 7px black;
  font-size: 25px;
  color: white;
}
.Mistakes b {
  color: red;
  text-shadow: none;
}
#img1 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 200px;
  height: 200px;
}

.word .letter.guessed {
  border-color: transparent;
  margin: -40px 0 35px;
}

.word .letter {
  width: 28px;
  border-bottom: 3px solid black;
  text-align: center;
  margin-bottom: 0px;
  font-size: 50px;
}

.word {
  display: flex;
  list-style: none;
  gap: 10px;
  padding: 5%;
  align-items: center;
  justify-content: center;
}

#winOrLose {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
  font-weight: 300;
}
